

.contact_Page{
    display: flex;
    height: 770px;
    padding: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

    display: flex;
    flex-direction: row;
    gap: 30px;
}